.otp-tripOptionsWidget {
  padding: 0.25em 0.5em;
  z-index: 1100;
  overflow: hidden;
}

/* Locations Picker */

.otp-tripOptions-loc-input {
    width:100%;
    border-radius: 0px;
    border: 1px solid;
}

.otp-tripOptions-loc-dropdownBtn {
    width: 100%;
    height: 100%;
    font-size: 9px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    border-radius: 0px;
    border: solid 1px;
    border-color: #fff #aaa #aaa #fff;
}

.otp-tripOptions-loc-reverseBtn {
    width: 20px;
    height: 22px;
    padding: 2px 1px;
    border-radius: 0px;
    border: solid 1px;
    border-color: #fff #aaa #aaa #fff;
}

/* Date/Time Picker */

.otp-date-input {
    text-align: center;
    width: 75px;
}

.otp-time-input {
    text-align: center;
    width: 55px;
}



/* My Favourite */
.btn, .modal-content, .input-group-addon, .form-control {
    border-radius: 0;
}

.btn .caret {
    margin-left: 2px;
}

.btn:focus {
    outline: none;
}

.row {
    padding: 0 15px 0 15px;
}

.dropdown {
    margin-bottom: 10px;
}

#save-button,
button.address-dialog-button {
    width: 140px;
}

.dropdown .dropdown-menu a {
    cursor: pointer;
}

.right {
    float: right;
}

.input-group {
    margin-bottom: 10px;
    width: 100%;
}

.input-group .input-group-addon {
    width: 100px;
    padding-top: 10px;
}

.input-dropdown-button {
    border-left: none;
}

#favourite-select-dialog .modal-dialog,
#favourite-address-dialog .modal-dialog {
    width: 500px;
}

button.select-favourite-button {
    width: 200px;
    margin-bottom: 5px;
}

.exchange-button-col {
    padding: 0;
}

#exchange-button {
    height: 78px;
    width: 100%;
}

.address-list-panel {
    margin-bottom: 10px;
}

.radio {
    margin-top: 0;
    margin-bottom: 0;
}